PORT=5000
API_VERSION=
DEV_DATABASE_URL=postgres://postgres:andela2020@127.0.0.1:5432/dev_db
TEST_DATABASE_URL=postgres://postgres:andela2020@127.0.0.1:5432/test_db
JWT_KEY=secret

PROJECTEMAIL=barefootnomadproject@gmail.com
PASSWORD=c\/cqJbY6"B22!KF
FRONTEND_URL=https://space-barefootnomad.netlify.app/
BACKEND_URL=http://localhost:5000
SENDGRID_API_KEY=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
ADMIN_PASSWORD=anyPassword


