.user-profile img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.draggings{
  height: 80vh;
  background:#e8f3f5;
  margin-top: 25px;
  border-bottom: 10px;
  overflow-y: scroll;
}
.draggings::-webkit-scrollbar {
  width: 10px;
  }
  
  .draggings::-webkit-scrollbar-thumb {   
  border-radius: 30px;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#da1b60));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
  
  .draggings::-webkit-scrollbar-track {     
  background-color: #fff;
  background: #efefee;
  }


.draggable{
  padding: 4px 5px 4px 7px;
  min-height: 70px;
  border-radius: 6px;
  cursor: move;
}
.draggings-user{
  font-size: 12px;
  margin-bottom: -10px;
}
.icon-bug{
  color: red;
  font-size: 1.2em;
}
.icon-plus{
  color: rgb(17, 141, 212);
  font-size: 1.5rem;

}
.icon-plus:hover{
  cursor: pointer;
}
.login-link:hover{
  cursor: pointer;
}

.draggable.dragging{
  opacity: .7;
}